<!-- Custom head additions -->

<!-- Favicon -->
<link rel="icon" href="/assets/images//favicon.ico" type="image/x-icon">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">

<!-- Open Graph / Social preview -->
<meta property="og:image" content="{{ '/assets/images/og-card.png' | absolute_url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
